.user-card {
  height: 40px;
  background-color: white;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
  }

  &__buttons {
    display: flex;
    gap: 4px;
  }
}
