@import "../../styles/variables";
.btn {
  color: white;
  border-radius: 8px;
  border: 0px;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 16px;
    filter: invert(100%);
  }

  &--primary {
    // background-color: #5570f1;
    background-color: $primary;
    &:active {
      background-color: $primary_accent;
    }
  }

  &--danger {
    background-color: $danger;
    &:active {
      background-color: $danger_accent;
    }
  }

  &--icon {
    background-color: white;

    &:focus,
    &:active {
      background-color: whitesmoke;
    }

    img {
      filter: none;
      height: 24px;
    }
  }
}
