.btn {
  color: white;
  border-radius: 8px;
  border: 0px;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: #5570f1;
    &:active {
      background-color: #3e5ae8;
    }
  }

  &--danger {
    background-color: #cc5f5f;
    &:active {
      background-color: #c34c4c;
    }
  }
}
