.text-area {
  resize: none;
  height: 100px;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 0px;
  padding: 8px;
  font-family: inherit;

  &:focus,
  &:active {
    outline: 2px solid #5570f1;
  }
}
