@import "../../../styles/variables";
@import "../../../styles/mixins";

.menu-item {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: black;
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;

  &--active {
    background-color: $primary !important;
    color: white;
    cursor: pointer;

    img {
      filter: invert(100%);
      transition: filter 0.1s ease-in-out;
    }
  }

  &:hover {
    background-color: whitesmoke;
  }

  img {
    height: 20px;
  }
}
