@import "styles/mixins";

.top-bar {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  width: 100%;
  background-color: white;

  &__user-container {
    display: flex;
    align-items: center;
    float: right;
    gap: 8px;
  }

  @include sm {
    justify-content: space-between;
  }
}

#hamburger-container {
  display: none;

  @include sm {
    display: unset;
  }
}
