.top-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: white;

  &__user-container {
    display: flex;
    align-items: center;
    float: right;
    gap: 8px;
  }
}

#hamburger-container {
  display: inline-block;
}
