@import "./variables";

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin hover-states() {
  &:active,
  &:focus,
  &:hover {
    @content;
  }
}

@mixin set-color($color) {
  color: $color;
  &:hover,
  &:visited,
  &:focus {
    color: $color;
  }
}
