$primary: #5570f1;
$primary_accent: #3e5ae8;
$danger: #cc5f5f;
$danger_accent: #c34c4c;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 1023px;

// Tablets and small desktops
$screen-lg-min: 1024px;
