@import "../../../../styles/variables";

.post {
  background-color: white;
  padding: 16px;
  height: fit-content;
  border-radius: 16px;
  cursor: pointer;

  &__category {
    display: inline;
    margin: 0px;
    margin-right: 8px;
    font-size: 16px;
    color: $primary;
  }

  &__date {
    color: gray;
    font-size: 12px;
  }

  &__title {
    font-size: 24px;
  }

  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: 8px;
  }

  &__image {
    display: flex;
    overflow: hidden;
    height: 200px;
    border-radius: 8px;

    img {
      width: 100%;
      height: auto;
      align-self: center;
    }
  }

  &__body {
    // height: 100%;
    width: 100%;
  }

  &__description {
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    max-width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__author {
    font-size: 14px;

    span {
      font-weight: 600;
      color: $primary;
    }
  }
}

.details {
  cursor: unset;
  max-width: 500px;

  .post__description {
    height: 100%;
    overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  }
}
