@import "styles/variables";

.date-input {
  border-radius: 8px;
  border: none;
  background-color: whitesmoke;
  padding: 8px;
  font-family: inherit;
  color: gray;

  &:focus,
  &:active {
    outline: 2px solid $primary;
  }
}
