@import "styles/mixins";

.menu {
  background-color: white;
  z-index: 100;
  position: sticky;
  top: 0;
  bottom: 0;
  min-width: 200px;
  height: 100%;
  padding: 8px;
  transition: min-width 0.2s, padding 0.2s ease-in-out;
  overflow-y: hidden;

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkgray;
    transition: width 0.2s, opacity 0.2s ease-in-out;

    img {
      height: 40px;
    }
  }

  &__body {
    list-style-type: none;
    padding: 0;
    transition: width 0.2s, opacity 0.2s ease-in-out;
  }

  @include sm {
    position: absolute;
    min-width: 0px;
    padding: 0px;
    width: 0px;

    &__header {
      opacity: 0;
    }

    &__body {
      opacity: 0;
    }

    &--open {
      padding: 16px;
      min-width: 100vw;
    }

    &--open &__header {
      opacity: 1;
    }

    &--open &__body {
      opacity: 1;
    }
  }

  #close-menu-btn {
    display: none;

    @include sm {
      display: unset;
    }
  }
}
