@mixin set-color($color) {
  color: $color;
  &:hover,
  &:visited,
  &:focus {
    color: $color;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  width: 300px;
  gap: 24px;

  &__header {
    text-align: center;
    line-height: 8px;
  }

  &__footer {
    text-align: center;
  }
}

.auth-page {
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

a {
  @include set-color(#5570f1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.posts {
  width: 100%;
  // overflow-y: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  gap: 8px;
}

.back-button {
  position: absolute;
  top: 8px;
  left: 8px;
}
